In [ ]:
import pandas as pd

##### [1] Exercicios

Converta a seguinte lista de dados para uma Series Pandas e obtenha:
- Média
- Desvio Padrão
- Máximo Valor

`dados = [10, 20, 42, 9, 12, 35, 24, 10, 8, 14, 21]`

Criando lista e convertendo para Series

In [ ]:
dados = [10, 20, 42, 9, 12, 35, 24, 10, 8, 14, 21]

In [ ]:
dados = pd.Series(dados)

Média

In [ ]:
dados.mean()

Desvio Padrão

In [ ]:
dados.std()

Máximo VAlor

In [ ]:
dados.max()

##### [2] Exercicios

Converta o seguinte dicionário para DataFrame e obtenha:
- Sumário de cada coluna
- Média da coluna idade
- Último nome da coluna nome

`dados = {“nome”:[“Téo”, “Nah”, “Napoleão”], “idade”: [31, 32, 14]}`

Criando dicionário e convertendo em DataFrame

In [ ]:
dados = {
    'nome':['Téo', 'Nah', 'Napoleão'],
    'idade': [31, 32, 14]
}

In [ ]:
df = pd.DataFrame(dados)

In [ ]:
df

Sumarizando colunas

- nome

In [ ]:
sumary_name = df.nome.describe()

In [ ]:
sumary_name

In [ ]:
name = df['nome']
name

- idade

In [ ]:
sumary_age = df.idade.describe()
sumary_age

In [ ]:
age = df['idade']
age

Média da coluna idade

In [ ]:
mean_age = df.idade.mean()
mean_age

In [ ]:
df['idade'].describe()['mean']

Ultimo nome da coluna nome

In [ ]:
df['nome'].iloc[-1]

In [ ]:
df.nome.iloc[-1]

In [ ]:
ultimo_registro = df.tail(1)['nome']

In [ ]:
ultimo_registro.describe().top